@import "../../styles/theme";

.notification-main {
  width: 100%;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  color: white;
  font-family: $secondary-font;
  box-shadow: 0 2px 5px rgba(black, 0.1);
  transition: 0.3s ease;
  margin-bottom: 20px;
  z-index: 100000001;

  .close-button-main {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    color: white !important;
    cursor: pointer;
  }

  .contents {
    padding: 5px 20px;
    font-size: 13px;
    font-weight: 600;
    color:white;

    .title {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}

.notification-main.success {
  background-color: $success-color-light;
}

.notification-main.info {
  background-color: $blue3-con;
}

.notification-main.warning {
  background-color: $warning-color-light;
}

.notification-main.error {
  background-color: $danger-color;
}

.notification-main.default {
  color: black;
}

.notification-main.closer {
  visibility: hidden;
  opacity: 0;
}

.notification-main.remove {
  display: none !important;
}

.icon-contain{
  color: white !important;
}

#notification-root {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100000001 !important;
}

.notification-bubble {
  width: 500px;
  max-width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
  transition: 0.3s ease;
  animation: animateNotificationBubble 0.3s ease-in-out forwards;

  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

@keyframes animateNotificationBubble {
  to {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
