@import "../../styles/theme";


$position: absolute;
$left: -9999px;

@mixin labeling(){
  font-family: $secondary-font;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  display: inline-block;
  color: #666;
}

@mixin label-before($color:#fff){
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #ddd;
  border-radius: 100%;
  background: $color;

}

@mixin label-after($color:$primary-color){
  content: '';
  width: 12px;
  height: 12px;
  background: $color;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;


}

.Radio[type="radio"]{

  &:checked{
    position: $position;
    left: $left;

    & + label{
      @include labeling();
      color:darken( $primary-color, 20%);
      &:before{
        @include label-before();
        border-color: $primary-color;
      }

      &:after{
        @include label-after();

        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
  }

  &:not(:checked){
    position: $position;
    left: $left;

    & + label{
      @include labeling();

      &:before{
        @include label-before();
      }

      &:after{
        @include label-after();

        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
      }
    }
  }

  &:disabled{
    & + label{
      cursor: not-allowed;
      opacity: .7;

      &:before{
        @include label-before(#f5f5f5);
      }

      &:after{
        @include label-after($primary-color-light);
      }
    }
  }
}
