@import "../../styles/theme";

textarea {
  height: auto;
  max-width: 100%;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid $gray;
  border-radius: 2px;
  min-width: 100%;
  box-sizing: border-box;
  font-family: $primary-font;
  display: block;
  margin: 0;
  outline: none;
  font-size: 14px;

  &:disabled {
    background: rgb(249, 249, 249);
  }
}

textarea:not(.textarea-error):focus,
textarea:not(.textarea-error):hover {
  border-color: lighten($color: $primary-color, $amount: 40%);
  box-shadow: 0 0 10px 0 rgba($primary-color, 0.2);
  transition: 0.3s ease all;
}

textarea:disabled:hover {
  border: 1px solid $gray;
  cursor: not-allowed;
}

.textarea-error,
.textarea-error:hover,
.textarea-error:focus {
  border: 1px solid $danger-color;
  outline: none !important;
}

.error {
  color: $danger-color;
  font-size: 14px;
}
