@import "../../styles/theme";

.modal-main {
  width: 100%;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  font-family: $secondary-font;


  transition: 0.3s ease;
  margin-bottom: 20px;

  color: $black-color;

  .close-button {
    position: absolute;
    right: 20px;
    top: 0;
    display: block;
    cursor: pointer;
  }

  .contents {
    padding: 5px 20px;
    font-size: 14px;
    width: 100%;
    color: $black-color;

    .title {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
}
.modal-input-dialog {
  padding: 0 20px 20px 20px;
}
.modal-main.success {
  color: $success-color-light;
}

.modal-main.info {
  color: $secondary-color-light;
}

.modal-main.warning,
.modal-main.confirm {
  color: $warning-color-light;
}

.modal-main.error {
  color: $danger-color;
}

.modal-main.close {
  visibility: hidden;
  opacity: 0;
}

.modal-main.remove {
  display: none !important;
}

#modal-root {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100000001;
}

.modal-node {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($black-color, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease;
  z-index: 1;

}

.modal-bubble {
  min-width: 300px;
  max-width: 600px;
  box-sizing: border-box;
  background-color: white;
  transition: 0.3s ease;
  box-shadow: 0 2px 5px rgba($black-color, 0.1);
  animation: animateModalBubble 0.3s ease-in-out forwards;
  .components {
    width: 100%;
    padding: 0 20px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;

    .closebutt {
      align-self: flex-end;
      margin-left: 10px;
    }
  }
}

.modal-root-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba($black-color, 0.3);
  padding: 0 20px;
  z-index: 100000001;

  .modal-bubble-fixed {
    width: 100%;
    max-width: 600px;
    transition: 0.5s ease;
    position: absolute;
    left: 50%;
    top: -50%;
    transform: translate(-50%, -50%) scale(1);
    max-height: 80vh;
    overflow-y: auto;
    animation: modalBubble 0.5s ease-in-out forwards;
    padding: 0 20px !important;
    box-sizing: border-box;

    .inner {
      background-color: white;
      position: relative;
      box-shadow: 0 2px 5px rgba($black-color, 0.1);
      width: 100%;
      height: 100%;
      border-radius: 6px;
    }

    .close-button {
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      cursor: pointer;
      z-index: 50000000;
    }

    .title {
      padding: 20px;
      font-family: $primary-font;
      font-size: 14px;
      font-weight: bold;
      border-bottom: 1px solid rgba($black-color, 0.1);
    }

    .contents {
      padding: 20px;
    }

    .footer {
      padding: 20px;
      display: flex;
      justify-content: flex-end;

      button {
        margin-right: 10px;
      }
    }
  }

  &.infinite-width{
    .modal-bubble-fixed{
      max-width: 100%;
    }
  }
}

.modal-node.closed {
  opacity: 0;

  .modal-bubble {
    animation: animateModalOut 0.3s ease-in-out forwards;
  }
}

@keyframes animateModalBubble {
  from {
    opacity: 0;
    transform: rotateX(90deg);
    margin-top: 200px;
  }

  to {
    opacity: 1;
    margin-top: 20px;
    transform: rotateX(0);
  }
}

@keyframes animateModalOut {
  from {
    opacity: 1;
    margin-top: 20px;
    transform: rotateX(0);
  }

  to {
    opacity: 0;
    margin-top: -100px;
    transform: rotateX(0);
  }
}

@keyframes modalBubble {
  to {
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
  }
}
