@import "../../styles/theme";

.global-loader{
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(white, 0.7);
  backdrop-filter: blur(5px);
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: .3s ease;


  .inner-loader{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;


    .context{
      font-size: 13px;
      font-weight: bold;
      color: $primary-color;
    }
  }

  &.show{
    visibility: visible;
    opacity: 1;
    z-index: 10000000;
  }
}